#table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #table1 td, #table1 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table1 tr:nth-child(odd) {
        background-color: #dcffdb;
    }

    #table1 tr:hover {
        background-color: #ddd;
    }

    #table1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

#ac {
    border-radius:12px;
    padding:10px;
    background-color:green;
    color:white;
}
#ac:hover{
    color:blue;
}
#da {
    border-radius: 12px;
    padding: 10px;
    background-color: red;
    color: white;
}
