*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #ffe259, #ffa751);
    font-family: sans-serif;
    overflow: hidden;
}

nav{
    background: royalblue;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 900;
}

h1 span{
    color: #fdc830;
    font-weight: 700;
}

ul{
    list-style-type: none;
    display: flex;
}

ul li a{
    font-size: 1rem;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    
}

.active{
    border-radius: 0px;
    border-bottom: 1px solid white;
}

ul li a:hover{
    border-radius: 12px;
    color: royalblue;
    background: white;
}

.container{
    height: calc(100vh - 52px);
    display: grid;
    place-items: center;
}

.container h2{
    font-size: 2rem;
    color: royalblue;
}

.bars {
    height: 100%;
    padding: 5px;
    width: 45px;
    cursor: pointer;
    margin : auto 0;
}

i.fa-tasks, .bars{
    display: none;
}

@media (max-width: 664px){
    i.fa-tasks, .bars{
        display: flex;
    }
    ul{
        display: none;
    }
    .bars{
        position: fixed;
        top: 0%;
        right: 0%;
        margin: 5px;
    }
    .show ul{
        margin-top: 1rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        flex-direction: column;
    }
}
